*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.o
*.so
*.dll
*.pyc


*.tlog
*.obj
tmp/*
target/*
.cache

/r4aimms-vc120.sdf
*.suo
*.sdf
target
deps

RFunctionalModel/backup
RFunctionalModel/log
RFunctionalModel/.edited

R-link/aimms4r/src-i386

RFunctionalModel/RunFromCml/*.pdb
RFunctionalModel/RunFromCml/*.dll

.Rproj.user
